spring:
  datasource:
    url: jdbc:mysql://mysql:3306/library
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      initialization-fail-timeout: 30000
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: false

  docker:
    compose:
      enabled: false

server:
  servlet:
    session:
      timeout: 60m

logging:
  level:
    org.hibernate.SQL: OFF
    org.hibernate.orm.jdbc.bind: OFF
    org.hibernate.type.descriptor.sql: WARN
    org.hibernate.type.descriptor.jdbc: WARN
    org.springframework.transaction: WARN
    org.springframework.orm.jpa: WARN
